.line {
  padding-left: 5px;
  display: inline-block;
  width: calc(100% - 100px);
  line-height: 1.6;
  border-radius: 0;
}
.linenumber {
  padding-right: 5px;
  text-align: center;
  vertical-align: top;
  width: 50px;
  opacity: 0.6;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.file_already_selected {
  font-style: italic;
}
h2, h3 {
  text-align: center;
}
#comparison pre {
  font-family: "Lucida Console", Monaco, monospace !important;
}
#comparison {
  margin-bottom: 100px;
}
#contents2 {
  text-align: center;
  margin-top: -10px;
}
pre {
  margin: 0;
  border: 0;
  padding: 0;
  background: 0;
  border-radius: 0;
  font-size: inherit;
}
